/* CUSTOM CSS */
#my-name, #react-typing-effect, #resume {
  letter-spacing: 4px;
  text-align: center;
}

#my-name {
  /* margin-top: 25px; */
  font-family: 'Questrial', sans-serif;
}

#resume {
  margin-top: 25px;
  font-family: 'Questrial', sans-serif;
  /* background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase; */
}

#resume a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#resume a:hover, a:active {
  background-color: red;
}

.header {
    min-height: 80vh;
    padding: 5%;
    background-image: linear-gradient(to right, red , pink, yellow);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* SOCIAL ICONS */
.social-icons {
  text-align: center;
  margin-top: 10px;
  /* display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.social-icons i {
    margin-right: 1.0%;
    margin-left: 1.0%;
    color: white;
}
